body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.45;
}

main_menu{ /* https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu */
	list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
	display: block;
    color: #494949;
    text-align: center;
    text-decoration: none;
}

li a {
    display: block;
    color: #494949;
	background-color: #dddddd;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #c1c1c1;
	color: black;
}

/* https://www.w3schools.com/html/html_tables.asp */