body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.45;
}

#main_menu{ /* https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu */
	list-style-type: none;
    overflow: hidden;
}

#header{
	height: 80px;
	width: 100vw;
	background-image: linear-gradient(to bottom, #cccccc, white);
	border-bottom: 1px solid #c1c1c1;
}

.navli a {
	color: black;
	display: block;
    text-align: center;
    padding: 40px 15px 20px;
    text-decoration: none;
}

.navli {
    float: left;
    color: #494949;
    text-align: center;
    text-decoration: none;
	border-right: 1px solid #c1c1c1;
	transition: 0.3s;
}

.navli:hover {
    background-color: #c1c1c1;
	color: black;
	text-decoration: underline;
}

#leftlist {
	border-left: 1px solid #c1c1c1;
}

#logo{
	margin-left: 40px;
	margin-right: 40px;
	float: left; 
	width: 150px;
	height: 80px;
	background: url(../res/world_data_logo_v2.png);
}

#logo:hover{
	float: left; 
	width: 150px;
	height: 80px;
	background: url(../res/world_data_logo_v3.png)
}

h1 {
	margin-top: 100px;
	margin-top: 40px;
	font-size: 50px;
}

#page{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

#flowing_text{
	column-count: 3;
	padding: 10px;
	border:1px solid black;
	border-radius: 0px 0px 5px 5px; 
	border-color: #d8d8d8;
	border-top-color: #85bc58;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);	
}

#wiki_link:link {
    color: #85bc58;
}
#wiki_link:visited {
    color: #85bc58;
}
#wiki_link:hover {
    color: green;
}

table{
	border-collapse: collapse;
	width: 100%;
}

thead{
	text-align: left;
}

td{
	padding-top: 8px;
	padding-bottom: 8px;
}

tr:nth-child(even) {background-color: #d8d8d8;}

.hide_bar{
	list-style-type: none;
	overflow: hidden;
}
.hide_bar li{
	float: left;
	padding: 10px;
}